src/nodered/flows.json
[
    {
        "id": "44b19fd327dc4245",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc6c6bb4bcf28efe",
        "type": "subflow",
        "name": "Smooth h & t",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 540,
                "y": 340,
                "wires": [
                    {
                        "id": "d3a20115d1dce694"
                    },
                    {
                        "id": "6a903eec7e9cb3bc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1540,
                "y": 340,
                "wires": [
                    {
                        "id": "d1994207b9c024c7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e93aa627579cb4ec",
        "type": "subflow",
        "name": "timestampToReadableDate",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ae1aa4fa5b4c8376"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 60,
                "wires": [
                    {
                        "id": "ae1aa4fa5b4c8376",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "4efe4ef31efc59e1",
        "type": "subflow",
        "name": "controlFans",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 60,
                "wires": [
                    {
                        "id": "d277561e7f541b31"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1000,
                "y": 160,
                "wires": [
                    {
                        "id": "d277561e7f541b31",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "a2c6fe6fccf222a3",
        "type": "ui_group",
        "name": "Taupunkttemperaturen",
        "tab": "b773b3ea60e4cd2f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "37db2356dc179c51",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b773b3ea60e4cd2f",
        "type": "ui_tab",
        "name": "Taupunkt",
        "icon": "fa-tint",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "88a7db86f6a72312",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "66358f4ffd7b9e77",
        "type": "ui_tab",
        "name": "Sensordaten",
        "icon": "timeline",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ac09835a791728a6",
        "type": "ui_group",
        "name": "Wochenansicht",
        "tab": "66358f4ffd7b9e77",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c02e68b9afb10f8d",
        "type": "ui_group",
        "name": "Sensor innen",
        "tab": "b773b3ea60e4cd2f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0843e943d3b2d92",
        "type": "ui_group",
        "name": "Sensor aussen",
        "tab": "b773b3ea60e4cd2f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "604c968e19119d54",
        "type": "ui_tab",
        "name": "Einstellungen",
        "icon": "settings",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c22e38380ae51f44",
        "type": "ui_group",
        "name": "Lüftungssteuerung",
        "tab": "604c968e19119d54",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "54763446514a6a0c",
        "type": "ui_tab",
        "name": "Manuelle Steuerung",
        "icon": "mouse",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4c0a97bedf5532d3",
        "type": "ui_group",
        "name": "Lüftung",
        "tab": "54763446514a6a0c",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f76443ffd6b16062",
        "type": "ui_spacer",
        "z": "44b19fd327dc4245",
        "name": "spacer",
        "group": "4c0a97bedf5532d3",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "074707800fea7975",
        "type": "ui_spacer",
        "z": "44b19fd327dc4245",
        "name": "spacer",
        "group": "4c0a97bedf5532d3",
        "order": 6,
        "width": 8,
        "height": 1
    },
    {
        "id": "66d47b177d5cd38f",
        "type": "ui_group",
        "name": "Debugging",
        "tab": "604c968e19119d54",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3a20115d1dce694",
        "type": "smooth",
        "z": "fc6c6bb4bcf28efe",
        "name": "Smooth h",
        "property": "payload.h",
        "action": "mean",
        "count": "3",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 300,
        "wires": [
            [
                "3549bd187480f575"
            ]
        ]
    },
    {
        "id": "6a903eec7e9cb3bc",
        "type": "smooth",
        "z": "fc6c6bb4bcf28efe",
        "name": "Smooth t",
        "property": "payload.t",
        "action": "mean",
        "count": "3",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "2649535728db1e8b"
            ]
        ]
    },
    {
        "id": "7d2e007136bcade4",
        "type": "join",
        "z": "fc6c6bb4bcf28efe",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1190,
        "y": 340,
        "wires": [
            [
                "d1994207b9c024c7"
            ]
        ]
    },
    {
        "id": "3549bd187480f575",
        "type": "change",
        "z": "fc6c6bb4bcf28efe",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.t",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 300,
        "wires": [
            [
                "7d2e007136bcade4"
            ]
        ]
    },
    {
        "id": "2649535728db1e8b",
        "type": "change",
        "z": "fc6c6bb4bcf28efe",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.h",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 380,
        "wires": [
            [
                "7d2e007136bcade4"
            ]
        ]
    },
    {
        "id": "d1994207b9c024c7",
        "type": "function",
        "z": "fc6c6bb4bcf28efe",
        "name": "fixed decimals",
        "func": "msg.payload.h = Math.round(msg.payload.h*10)/10\nmsg.payload.t = Math.round(msg.payload.t*10)/10\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ae1aa4fa5b4c8376",
        "type": "function",
        "z": "e93aa627579cb4ec",
        "name": "function 1",
        "func": "var date = new Date(msg.payload);\nvar datestring = date.getDate() + \".\" + (date.getMonth()+1) + \".\" + date.getFullYear() + \", \" + (\"0\" + date.getHours()).slice(-2) + \":\" + (\"0\"+date.getMinutes()).slice(-2) + \":\" + (\"0\"+date.getSeconds()).slice(-2);\nmsg.payload = datestring\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "cdd4689aef6f8f1e",
        "type": "debug",
        "z": "4efe4ef31efc59e1",
        "name": "Mqtt Fan Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "d277561e7f541b31",
        "type": "change",
        "z": "4efe4ef31efc59e1",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "qos",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "retain",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "bc44f228d24d2b78"
            ]
        ]
    },
    {
        "id": "bc44f228d24d2b78",
        "type": "function",
        "z": "4efe4ef31efc59e1",
        "name": "function 2",
        "func": "var shellyIds = [\"shellyplus1pm-zuluft\", \"shellyplus1pm-abluft\"];\nvar outMsgs = [];\nvar msgTemplate = msg;\nshellyIds.forEach((e)=>{\n   let newMsg = {};\n   \n   newMsg.topic = e+\"/command/switch:0\";\n   newMsg.payload = msg.payload;\n   newMsg.retain = msg.retain;\n   newMsg.qos = msg.qos;\n   outMsgs.push(newMsg);\n});\n\n    \nreturn [outMsgs];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 60,
        "wires": [
            [
                "cdd4689aef6f8f1e",
                "3fd5fa046df98b0b"
            ]
        ]
    },
    {
        "id": "3fd5fa046df98b0b",
        "type": "mqtt out",
        "z": "4efe4ef31efc59e1",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "88a7db86f6a72312",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "7e722569d7e3a4d3",
        "type": "function",
        "z": "44b19fd327dc4245",
        "name": "to dewpoint",
        "func": "/*\nr = relative Luftfeuchte\nT = Temperatur in °C\nTK = Temperatur in Kelvin (TK = T + 273.15)\nTD = Taupunkttemperatur in °C\nDD = Dampfdruck in hPa\nSDD = Sättigungsdampfdruck in hPa\n*/\n\nvar R = 8314.3\nvar MW = 18.016\n\nvar a, b;\n\n\nfunction SDD(T){\n    if(T>=0){\n        a = 7.5;\n        b = 237.3; \n    } else {\n        a = 7.6;\n        b = 240.7; \n    }\n\n    return 6.1078 * Math.pow(10,(a*T)/(b+T))\n}\n\nfunction DD(r, T){\n    return r/100 * SDD(T)\n}\n\nfunction TD(r, T){\n    var v = Math.log10(DD(r, T)/6.1078)\n    return b*v/(a-v)\n}\n\nmsg.payload.dewpoint = TD(msg.payload.h, msg.payload.t).toFixed(1);\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 380,
        "wires": [
            [
                "2cc646640529e9d4"
            ]
        ]
    },
    {
        "id": "b2ae1669dcaae272",
        "type": "ui_gauge",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "a2c6fe6fccf222a3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Taupunkt aussen",
        "label": "Grad C",
        "format": "{{msg.payload.dewpoint}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#3ac0f3",
            "#59e664",
            "#f93c3c"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 480,
        "wires": []
    },
    {
        "id": "2cc646640529e9d4",
        "type": "switch",
        "z": "44b19fd327dc4245",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor_outdoor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor_indoor",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 380,
        "wires": [
            [
                "9ca2a7554eea296c",
                "b2ae1669dcaae272"
            ],
            [
                "ead063fbaf3e1cf2",
                "b6402552560c8767"
            ]
        ]
    },
    {
        "id": "b6402552560c8767",
        "type": "ui_gauge",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "a2c6fe6fccf222a3",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Taupunkt innen",
        "label": "Grad C",
        "format": "{{msg.payload.dewpoint}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#3ac0f3",
            "#59e664",
            "#f93c3c"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1320,
        "y": 520,
        "wires": []
    },
    {
        "id": "ead063fbaf3e1cf2",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "indoor",
        "rules": [
            {
                "t": "set",
                "p": "indoor.dewpoint",
                "pt": "flow",
                "to": "payload.dewpoint",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "indoor.temperature",
                "pt": "flow",
                "to": "payload.t",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "indoor.humidity",
                "pt": "flow",
                "to": "payload.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 400,
        "wires": [
            [
                "809f47cfc0f2a4a9"
            ]
        ]
    },
    {
        "id": "9ca2a7554eea296c",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "outdoor",
        "rules": [
            {
                "t": "set",
                "p": "outdoor.dewpoint",
                "pt": "flow",
                "to": "payload.dewpoint",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "outdoor.temperature",
                "pt": "flow",
                "to": "payload.t",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "outdoor.humidity",
                "pt": "flow",
                "to": "payload.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 360,
        "wires": [
            [
                "c81185caaa45d70f"
            ]
        ]
    },
    {
        "id": "6d32dfc606771a77",
        "type": "complete",
        "z": "44b19fd327dc4245",
        "name": "",
        "scope": [
            "ead063fbaf3e1cf2",
            "9ca2a7554eea296c"
        ],
        "uncaught": false,
        "x": 330,
        "y": 580,
        "wires": [
            [
                "05b84ac1094ea539",
                "7e7a4f1cf9f812f6"
            ]
        ]
    },
    {
        "id": "05b84ac1094ea539",
        "type": "function",
        "z": "44b19fd327dc4245",
        "name": "new sensor value",
        "func": "var outdoor = flow.get(\"outdoor.dewpoint\");\nvar indoor = flow.get(\"indoor.dewpoint\");\nvar threshold = flow.get(\"dewpointVentThreshold\");\n\nvar diff = (outdoor - indoor);\nvar need_ventilation = false;\nif(diff <= threshold){\n    need_ventilation = true;\n}\n\nmsg.payload = {\"dewpoint_diff\": diff.toFixed(1), \"need_ventilation\": need_ventilation};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 580,
        "wires": [
            [
                "d42bd60866bac4eb",
                "779053786aec1d04",
                "2086c2ea6f81d170"
            ]
        ]
    },
    {
        "id": "d42bd60866bac4eb",
        "type": "ui_gauge",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "a2c6fe6fccf222a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Taupunktdifferenz",
        "label": "Grad C",
        "format": "{{msg.payload.dewpoint_diff}}",
        "min": "-6",
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 520,
        "wires": []
    },
    {
        "id": "0820aa177e9d53d7",
        "type": "ui_chart",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "ac09835a791728a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "rel. Luftfeuchte",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Sensordaten",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1440,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "af7645de1f8a75c8",
        "type": "function",
        "z": "44b19fd327dc4245",
        "name": "Daten innen",
        "func": "var temperature = {\n    \"payload\": flow.get(\"indoor.temperature\"),\n    \"topic\": \"Temperatur\"\n}\n\nvar humidity = {\n    \"payload\": flow.get(\"indoor.humidity\"),\n    \"topic\": \"Luftfeuchtigkeit\"\n}\n\nreturn [temperature, humidity];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 640,
        "wires": [
            [
                "5b3e58a77a104ce7",
                "ccae9f7759a6a664",
                "76aee2d3c0ca9760"
            ],
            [
                "1bb92b960e33e520",
                "ec74b9fff59f88b6"
            ]
        ]
    },
    {
        "id": "a87676a5e9f77419",
        "type": "mqtt in",
        "z": "44b19fd327dc4245",
        "name": "",
        "topic": "sensor_indoor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "88a7db86f6a72312",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "1de9cee6c23b6030"
            ]
        ]
    },
    {
        "id": "1de9cee6c23b6030",
        "type": "subflow:fc6c6bb4bcf28efe",
        "z": "44b19fd327dc4245",
        "name": "",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "7e722569d7e3a4d3"
            ]
        ]
    },
    {
        "id": "580bc5051f682d6a",
        "type": "ui_chart",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "ac09835a791728a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Sensordaten",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1430,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5b3e58a77a104ce7",
        "type": "ui_gauge",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "c02e68b9afb10f8d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatur innen",
        "label": "Grad C",
        "format": "{{value}}",
        "min": "-30",
        "max": "50",
        "colors": [
            "#1ae4fb",
            "#ffc777",
            "#fa0e07"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 820,
        "wires": []
    },
    {
        "id": "1bb92b960e33e520",
        "type": "ui_gauge",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "c02e68b9afb10f8d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "rel. Luftfeuchte innen",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#9b7979",
            "#16d511",
            "#1b43e7"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 900,
        "wires": []
    },
    {
        "id": "6d90700356a2cd5b",
        "type": "mqtt in",
        "z": "44b19fd327dc4245",
        "name": "",
        "topic": "sensor_outdoor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "88a7db86f6a72312",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "377c029b133da724"
            ]
        ]
    },
    {
        "id": "377c029b133da724",
        "type": "subflow:fc6c6bb4bcf28efe",
        "z": "44b19fd327dc4245",
        "name": "",
        "x": 670,
        "y": 400,
        "wires": [
            [
                "7e722569d7e3a4d3"
            ]
        ]
    },
    {
        "id": "eb0913f5204a268f",
        "type": "function",
        "z": "44b19fd327dc4245",
        "name": "Daten aussen",
        "func": "var temperature = {\n    \"payload\": flow.get(\"outdoor.temperature\"),\n    \"topic\": \"Temperatur\"\n}\n\nvar humidity = {\n    \"payload\": flow.get(\"outdoor.humidity\"),\n    \"topic\": \"Luftfeuchtigkeit\"\n}\n\nreturn [temperature, humidity];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 700,
        "wires": [
            [
                "09e5479649255a87",
                "a9e1ce0d5e8d05ba",
                "53ece3955ae35550"
            ],
            [
                "627f228717aa05d5",
                "e220bd8521f0e528"
            ]
        ]
    },
    {
        "id": "09e5479649255a87",
        "type": "ui_gauge",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "e0843e943d3b2d92",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatur aussen",
        "label": "Grad C",
        "format": "{{value}}",
        "min": "-30",
        "max": "50",
        "colors": [
            "#1ae4fb",
            "#ffc777",
            "#fa0e07"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "627f228717aa05d5",
        "type": "ui_gauge",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "e0843e943d3b2d92",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "rel. Luftfeuchte aussen",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#9b7979",
            "#16d511",
            "#1b43e7"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 940,
        "wires": []
    },
    {
        "id": "ccae9f7759a6a664",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "topic = innen",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "innen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 620,
        "wires": [
            [
                "580bc5051f682d6a"
            ]
        ]
    },
    {
        "id": "a9e1ce0d5e8d05ba",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "topic = aussen",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aussen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 680,
        "wires": [
            [
                "580bc5051f682d6a"
            ]
        ]
    },
    {
        "id": "ec74b9fff59f88b6",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "topic = innen",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "innen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 740,
        "wires": [
            [
                "0820aa177e9d53d7"
            ]
        ]
    },
    {
        "id": "e220bd8521f0e528",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "topic = aussen",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aussen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 800,
        "wires": [
            [
                "0820aa177e9d53d7"
            ]
        ]
    },
    {
        "id": "7e7a4f1cf9f812f6",
        "type": "switch",
        "z": "44b19fd327dc4245",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor_indoor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor_outdoor",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "af7645de1f8a75c8"
            ],
            [
                "eb0913f5204a268f"
            ]
        ]
    },
    {
        "id": "c591d673920508c9",
        "type": "subflow:e93aa627579cb4ec",
        "z": "44b19fd327dc4245",
        "name": "",
        "x": 1570,
        "y": 920,
        "wires": [
            [
                "7a625c32cdd95e25"
            ]
        ]
    },
    {
        "id": "76aee2d3c0ca9760",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 920,
        "wires": [
            [
                "c591d673920508c9"
            ]
        ]
    },
    {
        "id": "53ece3955ae35550",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 960,
        "wires": [
            [
                "859d02f5d7d77764"
            ]
        ]
    },
    {
        "id": "859d02f5d7d77764",
        "type": "subflow:e93aa627579cb4ec",
        "z": "44b19fd327dc4245",
        "name": "",
        "x": 1570,
        "y": 960,
        "wires": [
            [
                "7d685b45cc8215c6"
            ]
        ]
    },
    {
        "id": "7a625c32cdd95e25",
        "type": "ui_text",
        "z": "44b19fd327dc4245",
        "group": "c02e68b9afb10f8d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "letzter Messwert:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1830,
        "y": 920,
        "wires": []
    },
    {
        "id": "7d685b45cc8215c6",
        "type": "ui_text",
        "z": "44b19fd327dc4245",
        "group": "e0843e943d3b2d92",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "letzter Messwert:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1830,
        "y": 960,
        "wires": []
    },
    {
        "id": "f144c01f06037046",
        "type": "comment",
        "z": "44b19fd327dc4245",
        "name": "Control Logic",
        "info": "Whenever a new sensor value is received, the dewpoint could reach the need for venting. So we check this everytime we receive a new sensor value.",
        "x": 230,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f1aa871fa349a80a",
        "type": "ui_slider",
        "z": "44b19fd327dc4245",
        "name": "",
        "label": "",
        "tooltip": "Dies gibt die Taupunktdifferenz an bei der die Lüftung gestartet wird. Die Differenz sollte immer negativ sein, ansonsten wird Feuchtigkeit von draussen nach drinnen transportiert",
        "group": "c22e38380ae51f44",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "threshold",
        "topicType": "str",
        "min": "-10",
        "max": "10",
        "step": "0.5",
        "className": "",
        "x": 310,
        "y": 1880,
        "wires": [
            [
                "f0ed1783cb30b14b"
            ]
        ]
    },
    {
        "id": "779053786aec1d04",
        "type": "switch",
        "z": "44b19fd327dc4245",
        "name": "",
        "property": "payload.need_ventilation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "483823da68dd7aaa"
            ]
        ]
    },
    {
        "id": "640c91870f4fa0bb",
        "type": "inject",
        "z": "44b19fd327dc4245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "retain",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellyplus1pm-abluft/command/switch:0",
        "payload": "on",
        "payloadType": "str",
        "x": 170,
        "y": 2140,
        "wires": [
            [
                "fb87e2390dc1cf46",
                "1a02945147fb8e69"
            ]
        ]
    },
    {
        "id": "acd2cc2f6b945677",
        "type": "inject",
        "z": "44b19fd327dc4245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shellyplus1pm-abluft/command/switch:0",
        "payload": "off",
        "payloadType": "str",
        "x": 170,
        "y": 2240,
        "wires": [
            [
                "1a02945147fb8e69",
                "fb87e2390dc1cf46"
            ]
        ]
    },
    {
        "id": "fb87e2390dc1cf46",
        "type": "debug",
        "z": "44b19fd327dc4245",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 2240,
        "wires": []
    },
    {
        "id": "1a02945147fb8e69",
        "type": "mqtt out",
        "z": "44b19fd327dc4245",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "88a7db86f6a72312",
        "x": 610,
        "y": 2140,
        "wires": []
    },
    {
        "id": "b72051ca8d1e77f5",
        "type": "mqtt in",
        "z": "44b19fd327dc4245",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "88a7db86f6a72312",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2040,
        "wires": [
            [
                "bc3a62154d23526e"
            ]
        ]
    },
    {
        "id": "bc3a62154d23526e",
        "type": "debug",
        "z": "44b19fd327dc4245",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 2040,
        "wires": []
    },
    {
        "id": "958d1addddbff024",
        "type": "subflow:4efe4ef31efc59e1",
        "z": "44b19fd327dc4245",
        "name": "",
        "x": 1410,
        "y": 1060,
        "wires": [
            [
                "deaf591fbdc0259b",
                "68deab2ff510b847"
            ]
        ]
    },
    {
        "id": "933f35b77cb70dcf",
        "type": "trigger",
        "z": "44b19fd327dc4245",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 1060,
        "wires": [
            [
                "18e4a278d5a40c53"
            ]
        ]
    },
    {
        "id": "483823da68dd7aaa",
        "type": "delay",
        "z": "44b19fd327dc4245",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "45",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "933f35b77cb70dcf"
            ]
        ]
    },
    {
        "id": "1fe1be5dff6566dd",
        "type": "ui_slider",
        "z": "44b19fd327dc4245",
        "name": "",
        "label": "Minuten",
        "tooltip": "",
        "group": "4c0a97bedf5532d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "payload",
        "topicType": "msg",
        "min": "5",
        "max": "60",
        "step": "5",
        "className": "",
        "x": 280,
        "y": 1220,
        "wires": [
            [
                "3c728206e014d4ad",
                "f338548884a752e9"
            ]
        ]
    },
    {
        "id": "f338548884a752e9",
        "type": "ui_button",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "4c0a97bedf5532d3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "jetzt Lüften für {{msg.payload}} Minuten",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 1140,
        "wires": [
            [
                "06bd7c721d58fb8e",
                "bd4d35bfe4ed3a92"
            ]
        ]
    },
    {
        "id": "f8f7669349e375d5",
        "type": "trigger",
        "z": "44b19fd327dc4245",
        "name": "manuelles Lüften nach Zeit",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1120,
        "y": 1160,
        "wires": [
            [
                "d13342fbb32b0b99",
                "958d1addddbff024",
                "f091725d82577aa9"
            ]
        ]
    },
    {
        "id": "3c728206e014d4ad",
        "type": "function",
        "z": "44b19fd327dc4245",
        "name": "minuteToMs",
        "func": "msg.delay = msg.payload * 1000 * 60;\nlet delayMsg = {\"delay\": msg.delay};\nflow.set(\"manualVentTime\", msg.delay);\nreturn delayMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "06bd7c721d58fb8e",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "aktiviere manualControl und setze delay Variable",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "manualVentTime",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "manualControl",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1140,
        "wires": [
            [
                "f8f7669349e375d5"
            ]
        ]
    },
    {
        "id": "18e4a278d5a40c53",
        "type": "switch",
        "z": "44b19fd327dc4245",
        "name": "wenn manualControl aus",
        "property": "manualControl",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 1060,
        "wires": [
            [
                "958d1addddbff024"
            ]
        ]
    },
    {
        "id": "d13342fbb32b0b99",
        "type": "switch",
        "z": "44b19fd327dc4245",
        "name": "wenn false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1370,
        "y": 1180,
        "wires": [
            [
                "e3dc235d3fff22e3"
            ]
        ]
    },
    {
        "id": "69760a1fa797ba89",
        "type": "ui_button",
        "z": "44b19fd327dc4245",
        "name": "Jetzt Lüfter ausschalten",
        "group": "4c0a97bedf5532d3",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Jetzt Lüfter ausschalten und Automatik aktivieren",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1700,
        "wires": [
            [
                "958d1addddbff024",
                "e3dc235d3fff22e3",
                "d085ee02350458b0"
            ]
        ]
    },
    {
        "id": "e3dc235d3fff22e3",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "Enable Automatic",
        "rules": [
            {
                "t": "set",
                "p": "manualControl",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "f0ed1783cb30b14b",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dewpointVentThreshold",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "1533daccf78b296a",
        "type": "inject",
        "z": "44b19fd327dc4245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-4",
        "payloadType": "num",
        "x": 130,
        "y": 1880,
        "wires": [
            [
                "f1aa871fa349a80a"
            ]
        ]
    },
    {
        "id": "d085ee02350458b0",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "Reset all timers",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1700,
        "wires": [
            [
                "933f35b77cb70dcf",
                "f8f7669349e375d5",
                "39b09356bf44faab"
            ]
        ]
    },
    {
        "id": "6bb1df481697a46d",
        "type": "ui_slider",
        "z": "44b19fd327dc4245",
        "name": "",
        "label": "Stunden",
        "tooltip": "",
        "group": "4c0a97bedf5532d3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "12",
        "step": 1,
        "className": "",
        "x": 260,
        "y": 1440,
        "wires": [
            [
                "9f5d46fc39742f2f",
                "1aa0ba08bc010dea",
                "2877c490f972ec3c"
            ]
        ]
    },
    {
        "id": "9f5d46fc39742f2f",
        "type": "function",
        "z": "44b19fd327dc4245",
        "name": "hoursToMs",
        "func": "let ms = msg.payload * 1000 * 60 * 60;\nflow.set(\"manualVentSuppressionTime\", ms);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "2c3260f42db56151",
        "type": "inject",
        "z": "44b19fd327dc4245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 90,
        "y": 1220,
        "wires": [
            [
                "1fe1be5dff6566dd"
            ]
        ]
    },
    {
        "id": "b22606d2a325085c",
        "type": "inject",
        "z": "44b19fd327dc4245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 110,
        "y": 1440,
        "wires": [
            [
                "6bb1df481697a46d"
            ]
        ]
    },
    {
        "id": "1aa0ba08bc010dea",
        "type": "debug",
        "z": "44b19fd327dc4245",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1500,
        "wires": []
    },
    {
        "id": "2877c490f972ec3c",
        "type": "ui_button",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "4c0a97bedf5532d3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jetzt Lüfter für {{msg.payload}} Stunden ausschalten",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 1360,
        "wires": [
            [
                "06772d85aa3ae766",
                "cf5839a5d5ef697c",
                "052f17dfb2f2e27c"
            ]
        ]
    },
    {
        "id": "06772d85aa3ae766",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "aktiviere manualControl und setze Delay Variable",
        "rules": [
            {
                "t": "set",
                "p": "manualControl",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "manualVentSuppressionTime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1360,
        "wires": [
            [
                "39b09356bf44faab"
            ]
        ]
    },
    {
        "id": "39b09356bf44faab",
        "type": "trigger",
        "z": "44b19fd327dc4245",
        "name": "unterdrücke Lüftung",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1040,
        "y": 1360,
        "wires": [
            [
                "d13342fbb32b0b99",
                "afa5496c588b6250"
            ]
        ]
    },
    {
        "id": "cf5839a5d5ef697c",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "setze Payload false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "958d1addddbff024"
            ]
        ]
    },
    {
        "id": "052f17dfb2f2e27c",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "Reset all timers",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1280,
        "wires": [
            [
                "f8f7669349e375d5",
                "933f35b77cb70dcf"
            ]
        ]
    },
    {
        "id": "bd4d35bfe4ed3a92",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "Reset all timers",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1180,
        "wires": [
            [
                "39b09356bf44faab",
                "933f35b77cb70dcf"
            ]
        ]
    },
    {
        "id": "dc5d906189f77877",
        "type": "ui_text",
        "z": "44b19fd327dc4245",
        "group": "c22e38380ae51f44",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Automatikschwellenwert für Taupunkt",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 210,
        "y": 1820,
        "wires": []
    },
    {
        "id": "4f6aa858940434a2",
        "type": "ui_text",
        "z": "44b19fd327dc4245",
        "group": "66d47b177d5cd38f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "manualControl",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2100,
        "y": 1460,
        "wires": []
    },
    {
        "id": "2f7c1218c4029326",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manualControl",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 1460,
        "wires": [
            [
                "4f6aa858940434a2"
            ]
        ]
    },
    {
        "id": "e655a31e19d804e0",
        "type": "inject",
        "z": "44b19fd327dc4245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1670,
        "y": 1540,
        "wires": [
            [
                "2f7c1218c4029326",
                "2ec0aeaf37f87b6d",
                "bf406e30df30749f",
                "2691957e537dfe2d"
            ]
        ]
    },
    {
        "id": "4ba926a68be3076c",
        "type": "ui_text",
        "z": "44b19fd327dc4245",
        "group": "66d47b177d5cd38f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "dewpointVentThreshold",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2130,
        "y": 1520,
        "wires": []
    },
    {
        "id": "2ec0aeaf37f87b6d",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dewpointVentThreshold",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 1520,
        "wires": [
            [
                "4ba926a68be3076c"
            ]
        ]
    },
    {
        "id": "bf406e30df30749f",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manualVentSuppressionTime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 1580,
        "wires": [
            [
                "68a3af59ee7c259e"
            ]
        ]
    },
    {
        "id": "68a3af59ee7c259e",
        "type": "ui_text",
        "z": "44b19fd327dc4245",
        "group": "66d47b177d5cd38f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "manualVentSuppressionTime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2140,
        "y": 1580,
        "wires": []
    },
    {
        "id": "2691957e537dfe2d",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manualVentTime",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 1640,
        "wires": [
            [
                "1d9bf3253b64a0d0"
            ]
        ]
    },
    {
        "id": "1d9bf3253b64a0d0",
        "type": "ui_text",
        "z": "44b19fd327dc4245",
        "group": "66d47b177d5cd38f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "manualVentTime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2110,
        "y": 1640,
        "wires": []
    },
    {
        "id": "deaf591fbdc0259b",
        "type": "ui_text",
        "z": "44b19fd327dc4245",
        "group": "66d47b177d5cd38f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fans are",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2080,
        "y": 1400,
        "wires": []
    },
    {
        "id": "57b9c84500590df9",
        "type": "inject",
        "z": "44b19fd327dc4245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1700,
        "wires": [
            [
                "69760a1fa797ba89"
            ]
        ]
    },
    {
        "id": "1ff82472d597b556",
        "type": "inject",
        "z": "44b19fd327dc4245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 2340,
        "wires": [
            [
                "e6a00ddc23c853ae"
            ]
        ]
    },
    {
        "id": "5331520dcb57890b",
        "type": "inject",
        "z": "44b19fd327dc4245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 190,
        "y": 2380,
        "wires": [
            [
                "e6a00ddc23c853ae"
            ]
        ]
    },
    {
        "id": "e6a00ddc23c853ae",
        "type": "subflow:4efe4ef31efc59e1",
        "z": "44b19fd327dc4245",
        "name": "",
        "x": 370,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "0ac1898496e76dc7",
        "type": "ui_chart",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "ac09835a791728a6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Taupunktübersicht",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1870,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c81185caaa45d70f",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "aussen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "outdoor.dewpoint",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aussen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 540,
        "wires": [
            [
                "0ac1898496e76dc7"
            ]
        ]
    },
    {
        "id": "809f47cfc0f2a4a9",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "innen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "indoor.dewpoint",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "innen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 580,
        "wires": [
            [
                "0ac1898496e76dc7"
            ]
        ]
    },
    {
        "id": "2086c2ea6f81d170",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "Differenz",
        "rules": [
            {
                "t": "move",
                "p": "payload.dewpoint_diff",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Differenz",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 620,
        "wires": [
            [
                "0ac1898496e76dc7"
            ]
        ]
    },
    {
        "id": "7992a7dc6b6867f2",
        "type": "ui_chart",
        "z": "44b19fd327dc4245",
        "name": "",
        "group": "ac09835a791728a6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Lüfterbetrieb",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1890,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "68deab2ff510b847",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Lüfterbetrieb",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1020,
        "wires": [
            [
                "7992a7dc6b6867f2"
            ]
        ]
    },
    {
        "id": "f091725d82577aa9",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "manuelles Lüften nach Zeit",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1060,
        "wires": [
            [
                "7992a7dc6b6867f2"
            ]
        ]
    },
    {
        "id": "afa5496c588b6250",
        "type": "change",
        "z": "44b19fd327dc4245",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Lüftung unterdrückt",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1100,
        "wires": [
            [
                "7992a7dc6b6867f2"
            ]
        ]
    }
]